<h1>Listing pins</h1>

<table>
  <thead>
    <tr>
      <th>Item Description</th>
       <th>User Email</th>
       <th>Item ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
    
      <tr>
        <td class="item"><%= pin.description %></td>
        <td class="item"><%= pin.user.email if pin.user %></td>
        <td class="item"><%= pin.try(:id) if pin.user %></td>
        <td class="action"><%= link_to 'Show', pin %></td>
        <%if pin.user == current_user %>
        <td class="action"><%= link_to 'Edit', edit_pin_path(pin) %></td>        
        <td class="action"><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>


    <% end %>
  </tbody>
</table>

<br>
<%if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<%end%>
<style type="text/css">
  .action, .item{
    padding-right: 10px;
  }
</style>